/* CadastroOng.css */
.cadastro-ong {
  background-color: var(--bg-color);
  padding: 3rem 0;
}
.required {
  color: red;
  font-weight: bold;
}

.cadastro-ong .container {
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.cadastro-ong h2 {
  font-size: 1.75rem;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 2rem;
}

.cadastro-ong .form-group {
  margin-bottom: 1.5rem;
}

.cadastro-ong label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.cadastro-ong input,
.cadastro-ong select,
.cadastro-ong textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.cadastro-ong input:focus,
.cadastro-ong select:focus,
.cadastro-ong textarea:focus {
  border-color: var(--secondary-color);
  outline: none;
}

.cadastro-ong textarea {
  resize: vertical;
  min-height: 100px;
}

.cadastro-ong .btn {
  display: block;
  width: 100%;
  padding: 0.75rem 1.5rem;
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: var(--transition);
}

.cadastro-ong .btn:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}